
<h2>{{ section.settings.heading }}</h2>
<div class="slideContainer">
  {% for block in section.blocks %}
    <div class="imageContainer">
      <img src="{{ block.settings.image | img_url: 'master'}}"/>
      <img src="{{ block.settings.image2 | img_url: 'master'}}"/>
      <img src="{{ block.settings.image3 | img_url: 'master'}}"/>
      <img src="{{ block.settings.image4 | img_url: 'master'}}"/>
    </div>
  {% endfor %}
</div>





<style>
  h2 {
    text-align: center;
  }

  .imageContainer {
    display: flex,
  }
  
  .imageContainer img {
    width: 6vw;
  }
  
</style>

{% schema %}
  {
    "name": "Image Selector",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Custom Heading for Images"
      }
    ],
    "blocks": [
      {
        "type": "column",
        "name": "slide",
        "settings" : [
          {
            "type" : "image_picker",
            "id" : "image",
            "label": "Select an Image"
          },
          {
            "type" : "image_picker",
            "id" : "imageTwo",
            "label": "Select an Image"
          },
          {
            "type" : "image_picker",
            "id" : "imageThree",
            "label": "Select an Image"
          },
          {
            "type" : "image_picker",
            "id" : "imageFour",
            "label": "Select an Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name":"Image Selector"
      }
    ]
  }
{% endschema %}
